
*.sln
*.csproj
*.cs
/.idea
/Denys-Mykhailov/.idea
/.idea
/.idea/.idea.DataBasiGit
/Denys-Mykhailov/obj
/Denys-Mykhailov/obj
/Denys-Mykhailov/02-task/.env
/Denys-Mykhailov/practices
/Denys-Mykhailov/practices

# disable .env files everywhere
.env
*.db
*.wal
*.csv
*.log
